.btn {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 1rem 3rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: 3rem;
  display: inline-block;
  outline: none;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.load-more {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  text-align: center;
}
.hidden {
  visibility: hidden;
}
